.login-page{
    background-image: url(login-background-img.jpg); 
    
    background-size: cover;
    height: 100vh;
    width: 100vw;

    
}

.login-container{
   background-color: white;
   
   width: 60vh;
   box-shadow: 0 0 2px 3px whitesmoke ;
  border-radius: 1rem;
   margin: auto;
   position: relative;
   top: 7rem;
   padding: 2.2rem;
}

.login-div{
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
h1{
    text-align: center;
    color: salmon;
}
.input-box{
    height: 2rem ;
 margin-top: 0.2rem;
 margin-bottom: 2rem;
 font-size: 1.3rem;
 border-radius: 0.3rem;
 margin-top: 0.5rem;
 margin-bottom: 2rem;
 height: 3rem;

}
.btn{
    height: 3rem;
    font-size: 1.3rem;
    background-color: salmon;
    border-radius: 0.3rem;
    font-weight: 800;
    border: none;
    margin-bottom: 2rem;

}

.label{
    font-size: 1.3rem;
    font-weight: 700;
}
span{
    font-size: 1.2rem;
}
.link{
    color: salmon;
}
