.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    background-color: salmon;
    color: black;
  padding: 24px;
    
    
}
.navlist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
    list-style: none;
}
.linktag{
    text-decoration: none;
    color: black;
}
.logout{
    margin-left: 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}